body {
    background-color: #6c63ff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a {
  color: #9daffc;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: black;
}

.form {
  background-color: white;
  margin-bottom: 30px;
  padding: 40px;
  border-radius: 10px;
  display: flex;
}

.form-container { 
  background-color: #9daffc;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 30px 15px;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 12px;
  opacity: 0.6;
}

.instructions {
  background-color: white;
  padding: 16px;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: black;
  border: none;
}

.submit-button {
  margin-left: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;  
  width: 100px;
  font-size: 16px;
  border-radius: 40px;
  padding: 12px 24px;
  margin-top: 20px
}

.activity {
  font-size: 16px;
  background-color: #6c63ff;
  padding: 20px;
  line-height: 1.5;
  border-left: 1px solid #9daffc;
  border-right: 1px solid #9daffc;
  text-align: justify;
  text-align-last: center;
}


.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;  
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Apply the blink animation to the desired element */
.generating {
  animation: blink 1s infinite;
}